html {
    font-size: 62.5%
}

body {
    background: white;
    font-family: Raleway, Roboto, sans-serif;
    font-size: $font-medium;
    
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
