//colors
$off-black: #363638;
$off-white: #a5afd7;
$dark-blue: #3197b3;
$darkest-blue: #076984;
$blue: #3c4251;
$light-blue : #e7f2f5;
$purple: #8357c5;


//space and sizes
$s-size: 1.2rem;
$font-medium: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;